.advantages {
  margin: 0;
  padding: 115px 0 114px 0;

  background-color: $light-gray;

  overflow: hidden;

  h2 {
    margin: 0 0 66px 0;
    padding: 0;

    font-family: $font--bebasneue-regular;
    font-size: 49px;
    line-height: 49px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.04em;

    color: $blue;
  }

  h3 {
    margin: 0 0 7px 0;
    padding: 0;

    font-family: $font--roboto-bold;
    font-size: 22px;
    line-height: 33px;

    color: $blue;
  }

  p {
    margin: 0 10px 0 0;
    padding: 0;

    font-family: $font--roboto-light;
    font-size: 16px;
    line-height: 22px;

    color: $blue;
  }

  @media (max-width: $desktop-width) {
    padding: 97px 0 93px 0;

    h2 {
      margin: 0 0 45px 0;

      font-size: 42px;
      line-height: 42px;
    }

    h3 {
      margin: 0 0 3px 0;

      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 67px 0 22px 0;

    h2 {
      margin: 0 0 52px 0;

      font-size: 32px;
      line-height: 32px;
    }

    h3 {
      text-align: center;
    }

    p {
      margin: 0;

      text-align: center;
    }
  }
}

.advantages__list {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 0 5% 0 7.7%;

  width: 100%;
  min-height: 320px;

  list-style: none;

  @media (max-width: $desktop-width) {
    padding: 0 0 0 2px;

    min-height: 478px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-top: auto;

  width: 33.5%;

  &:nth-child(even) {
    margin-right: auto;
  }

  &:nth-child(odd) {
    margin-left: auto;
  }

  &:nth-child(-n+3) {
    margin-bottom: 15%;
  }

  &:first-child {
    margin: 0;
  }

  @media (max-width: $desktop-width) {
    align-self: flex-end;

    margin-top: auto;
    margin-bottom: 0;

    width: 48%;

    &:nth-child(-n+3) {

      align-self: flex-start;

      margin-top: 0;
      margin-bottom: 320px;
    }

    &:first-child {
      margin: 0;
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;

    width: 100%;

    &:nth-child(even),
    &:nth-child(odd) {
      margin: 0 0 40px 0;
    }

    &:nth-child(3) {
      margin: 0 0 330px 0;
    }
  }
}

.advantages__trainers {
  position: absolute;
  top: 2.2%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 35px 33px 60px 33px;

  width: 240px;

  background-color: $intensive-blue;

  h3,
  p,
  .advantages__number {
    color: $white;

    text-align: center;
  }

  .advantages__number {
    position: relative;
    left: -3px;
  }

  p {
    margin: 0;

    width: 100%;
    max-width: 174px;
  }

  h3 {
    position: relative;
    top: -15px;

    margin: 0 0 18px 0;

    font-family: $font--roboto-bold;
    font-size: 26px;
    line-height: 39px;

    &::before,
    &::after {
      position: absolute;
      top: 56%;

      width: 253%;
      height: 2px;

      content: "";

      background-color: $transparent-crimson;
    }

    &::before {
      left: 185%;
    }

    &::after {
      right: 185%;
    }
  }

  @media (max-width: $desktop-width) {
    top: 25%;

    padding: 15px 130px 36px 130px;

    width: 100%;
    max-width: 442px;

    h3 {
      top: -20px;

      margin: 0;

      font-size: 22px;
      line-height: 33px;

      &::before,
      &::after {
        display: none;
      }
    }

    p {
      position: relative;
      top: -3px;
    }
  }

  @media (max-width: $tablet-width) {
    top: 36.6%;

    padding: 19px 70px 32px 70px;

    width: 110%;

    h3 {
      top: -24px;
    }

    p {
      top: -13px;
    }
  }
}

.advantages__space {
  p {
    margin: 0 25px 0 0;
  }

  @media (max-width: $desktop-width) {
    padding: 0 25px 0 0;

    p {
      margin: 0 5px 0 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 40px 0;
    padding: 0 48px;
  }
}

.advantages__parking {
  @media (max-width: $desktop-width) {
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    padding: 0 30px;
  }
}

.advantages__comfort {
  position: relative;
  left: -8px;

  @media (max-width: $desktop-width) {
    left: -2px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 40px 0;
    padding: 0 35px;
  }
}

.advantages__experience {
  @media (max-width: $desktop-width) {
    padding: 0 0 0 0.15%;
  }

  @media (max-width: $tablet-width) {
    padding: 0 30px;
  }
}

.advantages__number {
  font-family: $font--roboto-bold;
  font-size: 74px;
  line-height: 111px;
}

.advantages__data {
  span {
    position: relative;
    left: -2px;

    font-family: $font--roboto-regular;
    font-size: 14px;
    line-height: 21px;

    color: $light-blue;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 0 0 6px 0;

    span {
      left: 0;
    }
  }
}

.advantages__img {
  margin: 4px 33px 6px 0;
  padding: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  &--space {
    width: 102px;
    height: 53px;

    background-image: url("../img/numbers/nine_hundred_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/numbers/nine_hundred_2x.png");
    }
  }

  &--parking {
    width: 67px;
    height: 53px;

    background-image: url("../img/numbers/seventy_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/numbers/seventy_2x.png");
    }
  }

  &--comfort {
    width: 103px;
    height: 53px;

    background-image: url("../img/numbers/three_hundred_fifty_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/numbers/three_hundred_fifty_2x.png");
    }
  }

  &--experience {
    width: 65px;
    height: 53px;

    background-image: url("../img/numbers/five_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/numbers/five_2x.png");
    }
  }

  @media (max-width: $desktop-width) {
    margin: 7px 33px 6px 0;

    &--space {
      width: 83px;
      height: 43px;
    }

    &--parking {
      width: 55px;
      height: 43px;
    }

    &--comfort {
      width: 85px;
      height: 43px;
    }

    &--experience {
      width: 53px;
      height: 43px;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 5px 0;
  }
}
