.calendar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.calendar__layout-container {
  margin: 0 auto;
  padding: 0 55px;

  width: 100%;
  max-width: 1230px;

  @media (max-width: $desktop-width) {
    padding: 0 45px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px;
  }
}

.calendar__group {
  &--all {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &--time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &--rows {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &--sport {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
  }

  @media (max-width: $desktop-width) {
    &--day {
      width: 1068px;
    }

    &--rows {
      width: 608px;
      overflow-x: scroll;
    }

    &--sport {
      margin: 0 0 2px 0;
      width: 1068px;
    }

    scrollbar-color: $red $transparent-crimson;
    scrollbar-width: thin;
    scrollbar-base-color: $transparent-crimson;
    scrollbar-track-color: inset $transparent-crimson;
    scrollbar-face-color: $red;
    scrollbar-shadow-color: $red;
    scrollbar-arrow-color: $red;

    &::-webkit-scrollbar {
      height: 4px;
      background-color: $transparent-crimson;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $red;
    }
  }

  @media (max-width: $tablet-width) {
    &--day {
      position: absolute;
      top: 0;

      display: flex;
      flex-direction: row;

      width: 100%;

      background-color: $white;

      z-index: 5;
    }

    &--rows {
      position: relative;

      overflow-x: hidden;
      overflow-y: hidden;
    }

    &--sport {
      padding: 68px 0 0 0;

      width: 100%;
    }
  }
}

.calendar__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    position: relative;
    display: block;

    margin: 0 0 0 -2px;

    width: 23%;
    max-width: 51px;
    height: 60px;

    border: 2px solid $blue;
    background-color: $transparent;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .calendar__toggle-icon {
      transition: all 0.3s;
    }
  }

  &--active {
    .calendar__toggle-icon {
      transform: rotate(180deg);
      transition: all 0.3s;
    }
  }
}

.calendar__list-time,
.calendar__list-day,
.calendar__list-sport {
  margin: 0;
  padding: 0;

  list-style: none;
}
