.calendar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.calendar__layout-container {
  margin: 0 auto;
  padding: 0 55px;

  width: 100%;
  max-width: 1230px;

  @media (max-width: $desktop-width) {
    padding: 0 45px;
  }
}

.calendar__group {
  &--all {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &--time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &--rows {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &--sport {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
  }

  @media (max-width: $desktop-width) {
    &--day {
      width: 1073px;
    }

    &--rows {
      width: 608px;
      overflow-x: scroll;
    }

    &--sport {
      margin: 0 0 8px 0;
      width: 1073px;
    }

    scrollbar-color: $red $transparent-crimson;
    scrollbar-width: thin;

    overflow: auto;
    scrollbar-base-color: $transparent-crimson;
    scrollbar-face-color: $red;
    // scrollbar-3dlight-color: $red;
    // scrollbar-highlight-color: $red;
    // scrollbar-track-color: $transparent-crimson;
    scrollbar-track-color: inset 0 0 6px rgba(0, 0, 0, 0.3);
    scrollbar-arrow-color: $transparent-crimson;
    scrollbar-shadow-color: $red;
    // scrollbar-dark-shadow-color: $red;

    &::-webkit-scrollbar {
      height: 4px;
      background-color: $transparent-crimson;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $red;
    }
  }
}

.calendar__list-time,
.calendar__list-day,
.calendar__list-sport {
  margin: 0;
  padding: 0;

  list-style: none;
}
