.coaches {
  margin: 0;
  padding: 55px 0 120px 0;

  h2 {
    margin: 0 0 17px 0;
    padding: 0;

    font-family: $font--bebasneue-regular;
    font-size: 49px;
    line-height: 49px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $blue;
  }

  @media (max-width: $desktop-width) {
    padding: 37px 0 100px 0;

    h2 {
      margin: 0 0 5px 0;

      font-size: 42px;
      line-height: 42px;
      letter-spacing: 0.04em;

      text-align: center;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 37px 0 70px 0;

    h2 {
      margin: 0 0 20px 0;

      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.03em;
    }
  }
}

.coaches__slider {
  margin: 0 auto;
  padding: 0;

  box-sizing: border-box;

  overflow: hidden;

  @media (max-width: $desktop-width) {
    width: 566px;
  }

  @media (max-width: $tablet-width) {
    width: 226px;
  }
}

.coaches__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  transition-property: transform;

  list-style: none;

  &--no-js {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.coaches__item {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-shrink: 0;

  transition-property: transform;

  padding: 22px;

  width: 100%;
  max-width: 260px;
  height: 294px;

  &:hover {
    padding: 0;

    .coaches__name {
      display: none;
    }

    .coaches__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &--no-js {
    margin: 0 40px 40px 0;

    width: calc(25% - 30px);

    &:nth-child(4n) {
      margin: 0 0 40px 0;
    }

    @media (max-width: $desktop-width) {
      margin: 0 30px 40px 0;

      &:nth-child(2n) {
        margin: 0 0 40px 0;
      }
    }

    @media (max-width: $tablet-width) {
      margin: 0 0 30px 0;

      &:nth-child(2n),
      &:nth-child(4n) {
        margin: 0 0 30px 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  @media (max-width: $desktop-width) {
    min-width: 268px;
  }

  @media (max-width: $tablet-width) {
    min-width: 226px;
    height: 274px;
  }
}

.coaches__img {
  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
}

.coaches__name {
  font-family: $font--roboto-bold;
  font-size: 18px;
  line-height: 27px;

  color: $white;
}

.coaches__group {
  position: relative;
  top: 168px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 -5.1%;

  &--no-js {
    visibility: hidden;
  }

  @media (max-width: $desktop-width) {
    margin: 0 auto;

    max-width: 700px;
  }

  @media (max-width: $tablet-width) {
    max-width: 320px;
  }
}

.coaches__button {
  position: relative;

  border: none;
  background-color: $transparent;

  cursor: pointer;

  svg {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &--next {
    top: -4px;

    transform: scale(-1, -1);
  }

  @media (max-width: $desktop-width) {
    &--previous {
      left: -7px;
    }

    &--next {
      left: 7px;
    }
  }

  @media (max-width: $tablet-width) {
    &--previous {
      top: -16px;
    }

    &--next {
      top: -20px;
    }

    svg {
      width: 10px;
      height: 19px;
    }
  }
}
