.contacts {
  margin: 0 56px 0 0;
  padding: 64px 0 64px 0;

  background-color: $white;

  h2 {
    margin: 0 0 48px 0;
    padding: 0;

    font-family: $font--bebasneue-regular;
    font-size: 49px;
    line-height: 49px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $blue;
  }

  @media (max-width: $desktop-width) {
    margin: 0;
    padding: 67px 23.4% 62px 17.2%;

    width: 100%;
    max-width: 1199px;

    h2 {
      margin: 0 0 35px 0;

      font-size: 42px;
      line-height: 42px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 67px 15px 62px 15px;

    h2 {
      margin: 0 0 38px 0;

      font-size: 32px;
      line-height: 32px;
    }
  }
}

.contacts__group {
  display: flex;
  flex-direction: row;

  @media (max-width: $desktop-width) {
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;

  &--left {
    margin: 0 60px 0 3px;
    padding: 0 61px 0 0;

    border-right: 1px solid $blue;
  }

  @media (max-width: $desktop-width) {
    &--left {
      margin: 0 47px 0 0;
      padding: 0 49px 0 0;
    }
  }

  @media (max-width: $tablet-width) {
    &--left {
      margin: 0 0 18px 0;
      padding: 0;

      border: none;
    }
  }
}

.contacts__item {
  span,
  a,
  p {
    margin: 0;
    padding: 0;

    color: $blue;
  }

  span {
    display: block;

    margin: 0 0 6px 0;

    font-family: $font--roboto-bold;
    font-size: 16px;
    line-height: 18px;
  }

  a,
  p {
    font-family: $font--roboto-regular;
    font-size: 14px;
    line-height: 21px;
  }

  &:hover,
  &:focus {
    a {
      opacity: 0.5;
    }
  }

  &:first-child {
    margin: 0 0 21px 0;
  }

  @media (max-width: $desktop-width) {
    span {
      font-size: 20px;
      line-height: 30px;
    }

    a,
    p {
      font-size: 18px;
      line-height: 27px;
    }

    &:first-child {
      margin: 0 0 19px 0;
    }
  }
}
