.feedback {
  margin: 0;
  padding: 55px 0 120px 0;

  h2 {
    margin: 0 0 18px 0;
    padding: 0;

    font-family: $font--bebasneue-regular;
    font-size: 49px;
    line-height: 49px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.04em;
    color: $blue;
  }

  @media (max-width: $desktop-width) {
    padding: 47px 0 100px 0;

    h2 {
      margin: 0 0 6px 0;

      font-size: 42px;
      line-height: 42px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 32px 0 70px 0;

    h2 {
      margin: 0 0 20px 0;

      font-size: 32px;
      line-height: 32px;
    }
  }
}

.feedback__group {
  position: relative;
  top: 140px;

  margin: 0 auto;

  width: 684px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--no-js {
    visibility: hidden;
  }

  @media (max-width: $tablet-width) {
    top: 180px;

    width: 290px;
  }
}

.feedback__button {
  position: relative;

  border: none;
  background-color: $transparent;

  svg {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &--next {
    transform: scale(-1, -1);
  }

  @media (max-width: $desktop-width) {
    &--previous {
      left: -5px;
    }
  }

  @media (max-width: $tablet-width) {
    svg {
      width: 10px;
      height: 19px;
    }

    &--next {
      left: 5px;
    }
  }
}

.feedback__slider {
  margin: 0 auto;
  padding: 0;

  width: 560px;

  box-sizing: border-box;

  overflow: hidden;

  @media (max-width: $desktop-width) {
    width: 566px;
  }

  @media (max-width: $tablet-width) {
    width: 226px;
  }
}

.feedback__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  transition-property: transform;

  list-style: none;

  &--no-js {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.feedback__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;

  margin: 0;
  padding: 62px 60px 62px 62px;

  width: 100%;

  transition-property: transform;

  background-color: $intensive-blue;
  box-shadow: 0 0 40px $transparent-intensive-blue;

  &--no-js {
    margin: 0 0 40px 0;

    &:last-child {
      margin: 0;
    }
  }

  @media (max-width: $desktop-width) {
    padding: 62px 60px 62px 65px;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    display: block;

    padding: 57px 25px 41px 25px;

    img {
      position: absolute;
      top: 40px;
      left: 41px;

      width: 68px;
      height: 68px;
    }
  }
}

.feedback__comment {
  width: 75%;

  span,
  p {
    position: relative;

    margin: 0;
    padding: 0;

    color: $white;
  }

  span {
    top: -9px;

    font-family: $font--roboto-bold;
    font-size: 20px;
    line-height: 30px;
  }

  p {
    top: 5px;

    font-family: $font--roboto-regular;
    font-size: 16px;
    line-height: 22px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;

    span {
      display: block;

      margin: 0 0 9px 55.5%;

      line-height: 26px;

      width: 50%;
    }

    p {
      text-align: center;
    }
  }
}
