.list-day {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 0 0 8px 0;
}

.list-day__item {
  margin: 0 8px 0 0;
  padding: 21px 0;

  width: 13.6%;
  min-height: 66px;

  font-family: $font--roboto-regular;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: $blue;
  border: 2px solid $blue;

  &--active {
    border: 2px solid $red;
    background-color: $red;
    color: $white;
  }

  &:last-child {
    margin: 0;
  }

  @media (max-width: $desktop-width) {
    min-height: 65px;
  }
}
