.list-time {
  margin: 0 8px 0 0;

  display: flex;
  flex-direction: column;

  @media (max-width: $desktop-width) {
    margin: 0 8px 6px 0;
  }

  @media (max-width: $tablet-width) {
    margin: 68px 8px 2px 0;

    &--js {
      opacity: 0.3;
    }
  }
}

.list-time__item {
  margin: 0 0 8px 0;
  padding: 42px 11px;

  width: 100%;
  max-width: 65px;
  min-height: 110px;

  font-family: $font--roboto-regular;
  font-size: 18px;
  line-height: 18px;

  color: $blue;
  border: 2px solid $blue;

  &--active {
    border: 2px solid $red;
    background-color: $red;
    color: $white;
  }

  &:last-child {
    margin: 0;
  }

  @media (max-width: $desktop-width) {
    max-width: 62px;
    min-height: 108px;
  }

  @media (max-width: $tablet-width) {
    padding: 30px 11px;

    width: 60px;
    min-height: 80px;
    max-height: 80px;

    font-size: 16px;
    line-height: 16px;
  }
}
