.page-main {
  overflow: hidden;
}

.page-main__group {
  background-image: linear-gradient(90deg, $blue 0%, $blue 50%, $white 50%, $white 100%);

  border-top: 1px solid $blue;

  @media (max-width: $desktop-width) {
    border: none;
  }

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.page-main__layout-container {
  &--free-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (max-width: $desktop-width) {
    &--free-class {
      flex-direction: column;
      justify-content: flex-start;

      padding: 0;
    }
  }
}
