.page-header {
  margin: 0;
  padding: 28px 0 48px 0;

  background-color: $deep-red;
  background-image: url("../img/background_image_desktop_1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background_image_desktop_2x.jpg");
  }

  @media (max-width: $desktop-width) {
    padding: 38px 0 82px 0;
  }

  @media (max-width: $tablet-width) {
    padding: 18px 0 58px 0;
  }
}

.page-header__calendar {
  margin: 0;
  padding: 110px 0 52px 0;

  background-color: $white;
  background-image: none;

  h1 {
    margin: 0;
    padding: 0;

    font-family: $font--bebasneue-regular;
    font-size: 49px;
    line-height: 49px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.02em;

    color: $blue;
  }

  @media (max-width: $desktop-width) {
    padding: 77px 0 44px 0;

    h1 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 0.03em;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 67px 0 44px 0;

    h1 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}


.page-header__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  span,
  .page-header__logo,
  .page-header__link {
    margin: 0;
    padding: 0;

    font-family: $font--bebasneue-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;

    color: $white;
  }

  .page-header__logo {
    cursor: default;
  }

  .page-header__link {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  @media (max-width: $desktop-width) {
    &:first-child {
      margin: 0 0 20px 0;
    }

    span,
    .page-header__link {
      font-size: 24px;
      line-height: 24px;
    }
  }

  @media (max-width: $tablet-width) {
    &:first-child {
      margin: 0 0 72px 0;
    }

    span,
    .page-header__link {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.page-header__info {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 0 26px 46px 19px;

  width: 40%;
  max-width: 377px;

  span {
    margin: 0;
    padding: 0;

    font-size: 49px;
    line-height: 59px;
    text-transform: uppercase;
    text-align: right;
  }

  h1 {
    margin: 0 0 62px 0;
    padding: 0;

    font-family: $font--bebasneue-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 109px;
    line-height: 109px;
    letter-spacing: 0.03em;
    text-align: right;

    color: $white;
  }

  @media (max-width: $desktop-width) {
    margin: 0 30px 3px 0;

    width: 47.8%;

    span {
      font-size: 34px;
      line-height: 41px;
    }

    h1 {
      font-size: 86px;
      line-height: 86px;
    }
  }

  @media (max-width: $tablet-width) {
    align-self: center;

    margin: 0 auto;

    width: 100%;

    span {
      margin: 0 0 5px 0;

      font-size: 28px;
      line-height: 33px;
    }

    h1 {
      margin: 0 0 67px 0;

      font-size: 78px;
      line-height: 78px;
    }
  }
}

.page-header__list {
  position: absolute;
  top: 193px;

  margin: 0;
  padding: 0;

  max-width: 115px;

  list-style: none;

  li {
    font-family: $font--roboto-regular;
    font-size: 14px;
    line-height: 21px;
    text-align: right;

    color: $white;
  }

  @media (max-width: $desktop-width) {
    top: 135px;
  }

  @media (max-width: $tablet-width) {
    top: 122px;
    left: -2px;
  }
}

.page-header__button {
  align-self: flex-end;

  margin: 0;
  padding: 20px 53px;

  max-width: 62%;

  color: $white;

  background-color: $transparent;
  border: 4px solid $white;

  @media (max-width: $desktop-width) {
    position: relative;
    top: -20px;

    padding: 20px 30px;
  }

  @media (max-width: $tablet-width) {
    text-align: center;

    width: 100%;
    max-width: 100%;
  }
}

.page-header__img {
  position: relative;
  top: -3px;
  left: -10px;

  width: 48%;
  max-width: 500px;
  height: 556px;

  img {
    width: 500px;
    height: 556px;

    object-fit: cover;
  }

  @media (max-width: $desktop-width) {
    top: 0;
    left: 0;

    width: 324px;
    height: 390px;

    img {
      width: 324px;
      height: 390px;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 0 0 45px 0;
  padding: 0;

  width: 12%;

  list-style: none;

  li {
    margin: 0 0 15px 0;
    padding: 0;

    &:last-child {
      margin: 0;
    }
  }

  .page-header__link {
    margin: 0;
    padding: 0;

    font-family: $font--roboto-regular;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      border-radius: 50%;
      box-shadow: 0 0 15px $white;
      transition: 0.3s;

      opacity: 1;
    }
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}
