.promo {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 120px 0 60px 0;

  background-color: $white;

  p {
    margin: 0 0 45px 0;
    padding: 0;

    font-family: $font--roboto-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: $white;
  }

  @media (max-width: $desktop-width) {
    justify-content: center;

    padding: 100px 0 60px 0;

    p {
      margin: 0 0 31px 0;

      font-size: 12px;
      line-height: 18px;
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;

    padding: 71px 0 30px 0;
  }
}

.promo__group {
  margin: 0;
  padding: 76px 78px;

  min-height: 500px;

  background-color: $red;

  @media (max-width: $desktop-width) {
    padding: 42px 45px;

    width: 43%;
    min-height: 292px;
  }

  @media (max-width: $tablet-width) {
    padding: 42px 45px 51px 45px;

    width: 100%;
  }
}

.promo__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 10px 0;

  width: 100%;
  max-width: 344px;

  h3 {
    margin: 0;
    padding: 0;

    width: 58.1%;

    font-family: $font--bebasneue-regular;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.04em;

    color: $white;
  }

  @media (max-width: $desktop-width) {
    margin: 0;

    h3 {
      font-size: 52px;
      line-height: 52px;
      letter-spacing: 0.03em;
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }
}

.promo__title {
  padding: 0 0 5px 0;

  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: $white;

  border-bottom: 1px solid $white;

  @media (max-width: $desktop-width) {
    position: relative;

    padding: 0;

    font-size: 12px;
    line-height: 18px;
  }
}

.promo__number {
  position: relative;
  top: -5px;

  font-family: $font--roboto-bold;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;

  color: $white;

  &:first-child {
    top: -8px;

    margin: 0 6px 0 0;
  }

  @media (max-width: $desktop-width) {
    font-size: 24px;
    line-height: 36px;

    &:first-child {
      top: -2px;

      margin: 0 4px 0 0;
    }
  }
}

.promo__date,
.promo__time {
  position: relative;
  top: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.promo__number-group {
  display: flex;
  flex-direction: row;
}

.promo__month-and-year {
  display: flex;
  flex-direction: column;
}

.promo__month,
.promo__year {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: $white;

  @media (max-width: $desktop-width) {
    position: relative;
    top: 4px;

    font-size: 10px;
    line-height: 12px;
  }
}

.promo__month {
  position: relative;
  top: 2px;

  @media (max-width: $desktop-width) {
    top: 4px;
  }
}

.promo__date-and-time {
  display: flex;
  flex-direction: column;
}

.promo__button {
  padding: 25px;

  width: 100%;

  font-family: $font--roboto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white;

  background-color: $transparent;
  border: 4px solid $white;

  @media (max-width: $desktop-width) {
    padding: 12px;

    font-size: 10px;
    line-height: 12px;

    border-width: 2px;
  }
}

.promo__img {
  position: relative;
  // width: 660px;
  // height: 500px;
  width: 100%;
  max-width: 660px;

  object-fit: cover;
  object-position: center center;

  picture {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    img {
      width: 100%;
      max-width: 660px;
      height: 500px;
    }
  }

  // img {
  //   width: 660px;
  //   height: 500px;
  //
  //   object-fit: cover;
  //   object-position: center center;
  // }

  @media (max-width: $desktop-width) {
    // width: 386px;
    // height: 292px;

    max-width: 386px;

    picture {
      img {
        max-width: 386px;
        height: 292px;
      }
    }

    // img {
    //   width: 386px;
    //   height: 292px;
    // }
  }

  @media (max-width: $tablet-width) {
    // width: 100%;
    // min-width: 290px;
    // height: 292px;

    max-width: 290px;

    picture {
      img {
        max-width: 290px;
        height: 292px;
      }
    }

    // img {
    //   width: 100%;
    //   height: 292px;
    // }
  }
}
