.social {
  margin: 0;
  padding: 0;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin: 0 25px 0 0;

  &:last-child {
    margin: 0;
  }

  @media (max-width: $desktop-width) {
    margin: 0 20px 0 0;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    top: -5px;

    flex-direction: column;
    align-items: flex-start;

    margin: 0 35px 0 0;
  }
}

.social__image {
  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &--vk {
    position: relative;
    top: -5px;
  }

  @media (max-width: $tablet-width) {
    &--vk {
      top: -1px;

      width: 32px;
      height: 17px;
    }

    &--insta {
      width: 27px;
      height: 27px;
    }

    &--fb {
      width: 14px;
      height: 27px;
    }
  }
}
