.stocks {
  margin: 0;
  padding: 115px 0 60px 0;

  h2 {
    margin: 0 0 55px 0;
    padding: 0;

    font-family: $font--bebasneue-regular;
    font-size: 49px;
    line-height: 49px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    color: $blue;
  }

  @media (max-width: $desktop-width) {
    padding: 97px 0 50px 0;

    h2 {
      margin: 0 0 43px 0;

      font-size: 42px;
      line-height: 42px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 67px 0 35px 0;

    h2 {
      margin: 0 0 45px 0;

      font-size: 32px;
      line-height: 32px;
    }
  }
}

.stocks__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    justify-content: center;
  }
}

.stocks__best-offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 48.3%;
  min-height: 462px;

  background-color: $red;

  @media (max-width: $desktop-width) {
    margin: 0 0 30px 0;

    width: 100%;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
  }
}

.stocks__link {
  align-self: flex-start;

  font-family: $font--roboto-bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $intensive-blue;

  border-bottom: 1px solid $intensive-blue;

  &:hover,
  &:focus {
    color: $red;

    border-bottom: 1px solid $red;
  }

  @media (max-width: $tablet-width) {
    align-self: center;
  }
}

.stocks__info {
  margin: 0;
  padding: 33px 8%;

  h3,
  span,
  p {
    margin: 0;
    padding: 0;

    color: $white;
  }

  span,
  p {
    position: relative;
    top: -25px;
  }

  h3 {
    font-family: $font--roboto-bold;
    font-size: 28px;
    line-height: 44px;
  }

  span {
    font-family: $font--roboto-bold;
    font-size: 70px;
    line-height: 109px;
  }

  p {
    height: 100%;
    max-height: 213px;

    font-family: $font--roboto-regular;
    font-size: 18px;
    line-height: 25px;
  }

  .stocks__link {
    font-size: 14px;
    line-height: 16px;

    color: $white;

    border-bottom: 1px solid $white;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  @media (max-width: $desktop-width) {
    padding: 33px 6.6%;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 33px 6.6% 46px 6.6%;

    p {
      top: -30px;

      text-align: center;
    }
  }
}

.stocks__img {
  position: relative;

  padding-top: 56.25%;

  width: 100%;
  max-width: 280px;

  object-fit: cover;
  object-position: center;

  picture {
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 100%;
      max-width: 280px;
      height: 462px;
    }
  }

  @media (max-width: $desktop-width) {
    padding-top: 0;

    max-width: 399px;

    object-position: right;

    picture {
      img {
        max-width: 399px;
      }
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
    height: 299px;

    object-position: center top;

    picture {
      width: 100%;

      img {
        max-width: 100%;
        height: 299px;

        object-fit: cover;
        object-position: center top;
      }
    }
  }
}

.stocks__another-offers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 48.2%;

  @media (max-width: $desktop-width) {
    flex-direction: row;

    width: 100%;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.stocks__another-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0;
  padding: 25px 27px 28px 27px;

  min-height: 211px;

  border-style: solid;
  border-width: 7px;
  border-image: linear-gradient(to bottom right, $crimson, $light-blue);
  border-image-slice: 1;

  h3 {
    margin: 0 0 10px 0;
    padding: 0;

    font-family: $font--roboto-bold;
    font-size: 26px;
    line-height: 26px;

    color: $intensive-blue;
  }

  p {
    margin: 0;
    padding: 0;

    font-family: $font--roboto-regular;
    font-size: 16px;
    line-height: 22px;

    color: $intensive-blue;
  }

  @media (max-width: $desktop-width) {
    width: 47.8%;

    &:first-child {
      padding: 25px 60px 28px 27px;
    }
  }

  @media (max-width: $tablet-width) {
    align-items: center;

    width: 100%;

    margin: 0 0 30px 0;
    padding: 35px 20px 39px 20px;

    h3,
    p {
      text-align: center;
    }

    &:first-child {
      padding: 35px 20px 39px 20px;
    }

    &:last-child {
      margin: 0;
    }
  }
}
