$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font--bebasneue-regular: "BebasNeue-Regular", "Arial", sans-serif;
$font--roboto-light: "RobotoCondensed-Light", "Arial", sans-serif;
$font--roboto-regular: "RobotoCondensed-Regular", "Arial", sans-serif;
$font--roboto-bold: "RobotoCondensed-Bold", "Arial", sans-serif;

$white: rgba(255, 255, 255, 1);
$light-gray: rgba(248, 249, 252, 1);
$transparent-gray: rgba(232, 232, 232, 0.5);
$gray: rgba(175, 175, 175, 1);
$silver: rgba(182, 189, 204, 1);
$blue: rgba(16, 38, 84, 1);
$deep-azure: rgba(16, 38, 84, 0.9);
$azure: rgba(16, 38, 84, 0.5);
$light-blue: rgba(16, 58, 174, 1);
$transparent-blue: rgba(20, 54, 122, 0.5);
$moderate-blue: rgba(73, 90, 125, 1);
$dark-blue: rgba(3, 10, 26, 1);
$red: rgba(237, 2, 51, 1);
$deep-red: rgba(152, 10, 55, 1);
$crimson: rgba(209, 10, 66, 1);
